* {
	-fx-background-radius: 8px;
	-fx-background-color: #191919;;
	/*-fx-padding: 10px; */
	-fx-text-fill: white;
}

.text-field {
	-fx-border-color: white;
}
.combo-box {
	-fx-background-color: #191919;
	-fx-border-color: white;
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: orange;
    -fx-background-color: orange;
    -fx-text-fill: -fx-selection-bar-text;
}