* {
	-fx-background-radius: 15.0px;
	-fx-background-color: #191919;
}

.text-field {
	-fx-background-radius: 15.0px;
	-fx-border-radius: 15.0px;
	-fx-text-fill: white;
	-fx-border-color: white;
}

.combo-box {
	-fx-background-color: #191919;
	-fx-border-color: transparent;
	-fx-border-radius: 10.0 10.0 10.0 10.0;
	-fx-background-radius: 10.0 10.0 10.0 10.0;
	-fx-text-fill: white;
}

.combo-box-popup {
	-fx-background-color: #191919;
	-fx-border-color: transparent;
	-fx-border-radius: 10.0 10.0 10.0 10.0;
	-fx-background-radius: 10.0 10.0 10.0 10.0;
	-fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
	{
	-fx-background: orange;
	-fx-background-color: orange;
	-fx-text-fill: white;
}